---
---

body{
    display: flex;
    justify-content: center;
    font-family: Rubik,Georgia,Times,sans-serif;
    color: rgb(26, 26, 26); 
}
main{
    width: 80%;
}

header h1{
    font-size: 3em;
    color: #fff;
    padding: 0px 80px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0,0,0,.6);
    background-color: #F07102;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
    display: block;
    padding: 0.5em;
    text-align: center;
    text-transform: uppercase;
}

a{
    color: #40697c;
    text-decoration: none;
}
a:active {
    color: #636363;
}

a:hover {
    color: #F07102;
    opacity: 0.85;
    text-decoration: underline;
}
li{
    list-style: none;
}
